<div class="container-fluid content">
    <div class="row justify-content-between no-gutters">
        <!-- <div class="col-lg-2 font-footer left">
            © 2017 SAT Solutions
        </div>
        <div class="col-lg-2 font-footer right">
            <span>
                <a target="_blank" href="mailto:support@fleetvisual.com">support@fleetvisual.com</a>
            </span>
        </div> -->
        <!-- <div class="col-lg-12 font-footer">
            © 2017 SAT Solutions
        </div> -->
        <div class="col-lg-12 font-footer center align-self-center">
            <span >
                <img src="assets/images/logo/sat-logo.png" class="logo" alt="sat logo">
            </span>
            <span>
                Copyright © SAT Solutions &nbsp; -&nbsp;&nbsp; All Right Reserved &nbsp; - &nbsp;
            </span>
            <span>
                <a target="_blank" href="mailto:support@fleetvisual.com">support@fleetvisual.com</a>
            </span>
        </div>
    </div>
</div>